base58==2.1.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
coremltools==5.1.0
cycler==0.11.0
dnspython==2.1.0
Flask==2.0.2
Flask-Cors==3.0.10
fonttools==4.31.2
gunicorn==20.0.4
idna==3.3
ipfs-api==0.2.3
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.4.2
MarkupSafe==2.0.1
matplotlib==3.5.1
mpmath==1.2.1
multiaddr==0.0.9
netaddr==0.8.0
numpy==1.21.5
packaging==21.3
pandas==1.4.2
passlib==1.7.4
Pillow==8.4.0
protobuf==3.19.1
pymongo==4.0.1
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
sympy==1.9
threadpoolctl==3.1.0
tqdm==4.62.3
urllib3==1.26.9
varint==1.0.2
Werkzeug==2.0.2
